* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

/* 0. NAVIGATION MENU */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-height: 75px;
  height: 18vh;
  width: 100vw;
  background-color: #fff;
  background-image: url("./media/image_geometry_1.png");
  border: none;
  background-repeat: no-repeat;
}

/* 0.1. Background image */

/* 0.2. Menu Burger */
.burger {
  display: flex;
  width: 20px;
  height: 14px;
  margin-top: 25px;
  margin-right: 14px;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-around;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #1a2236;
}

/* 1. FIRST SECTION */

.first-section {
  height: 90vh;
  min-height: 630px;
  max-height: 700px;
  width: 100vw;
  background-image: url(./media/image_geometry_2.png);
  background-size: 375px 188px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.about-me {
  height: 568px;
  align-self: center;
}

/* 1.1. Developer's name */
.name h1 {
  position: absolute;
  left: 8vw;
  top: 130px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 0.8em;
  color: #1a2236;
}

/* 1.2. Welcome message */
.salute p {
  position: absolute;
  max-width: 300px;
  width: 86vw;
  height: 147px;
  left: 8vw;
  top: 260px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5 rem;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

/* 1.3. Contact button */

.start-contact {
  box-sizing: border-box;
  border-style: none;
  position: absolute;
  width: 86vw;
  max-width: 300px;
  height: 50px;
  left: 8vw;
  top: 430px;
  color: white;
  background: #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.start-contact:hover {
  background: #154c7d;
}

/* SECTION 2. PROJECTS */
#projects {
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #fff;
}

.project-title {
  grid-area: 1 / 1;
}

.project-title h1 {
  width: 181px;
  height: 50px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-left: 8vw;
  margin-bottom: 32px;
  margin-top: 32px;
  color: #1a2236;
}

/* 2.1. Projects */

.all-projects {
  grid-area: 2 / 1;
}

/* 2.1.1 Preview image */
.preview-img {
  width: auto;
  min-width: 320px;
  height: 230px;
  min-height: 186px;
  margin: 0;
}

.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 2.1.2 Description */
.pr-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background: #1a2236;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 8vw;
}

.pr-description h2 {
  width: 264px;
  height: 16px;
  align-self: flex-start;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  margin-top: 20px;
  margin-bottom: 16px;
  color: #fff;
}

.pr-description ul {
  display: grid;
  grid-template-columns: 69px 90px 74px;
  width: 360px;
  grid-gap: 10px;
  align-items: center;
  list-style: none;
}

.pr-description li {
  width: auto;
  background: #98dede;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  text-align: center;
  padding: 6px 10px 6px 10px;
}

.pr-description li:first-child {
  margin-left: 0;
}

.pr-description li:last-child {
  margin-right: 0;
}

/* 2.1.2.2. Button */
.pr-button {
  margin-bottom: 20px;
  justify-self: flex-start;
}

.project-button {
  width: 178px;
  height: 44px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-button:hover {
  background-color: #154c7d;
}

.right-arrow {
  width: 20.57px;
  height: 15.35px;
  margin-left: 12px;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: #fff;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
}

.about-section h2 {
  width: 220px;
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: flex-start;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about-section p {
  width: 288px;

  /*   margin-left: 8vw; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.download {
  width: 288px;
  height: 50px;
  margin-top: 20px;
  border: 0;
  color: white;
  background: #1a2236;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download:hover {
  cursor: pointer;
  background: #154c7d;
}

.download_icon {
  padding-left: 25px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.lists {
  align-self: flex-start;
  margin-left: 50px;
}

.languages {
  width: 289px;
  height: 289px;
  color: white;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.languages.basics {
  background-color: #1c528a;
  background-image: url("./media/hash_icon.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.languages.frameworks {
  background-color: #e2505c;
  background-image: url("./media/frameworks_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.languages.skills {
  background-color: #febf52;
  background-image: url("./media/skills_icon.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.languages h3 {
  width: 116px;
  height: 30px;
  align-self: flex-start;
  margin-left: 12%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

.languages ul {
  margin-top: 25px;
}

.background-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* GET STARTED SECTION */

.get-started {
  background-image: url("./media/image_geometry_1.png");
  border: none;
  background-repeat: no-repeat;
  background-color: #fff;
}

.contact-description {
  height: 40vh;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.get-started h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-left: 8vw;
  margin-top: 16vh;
}

.get-started p {
  width: 300px;
  height: 63px;
  margin-left: 8vw;
  margin-top: 2vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25px;
  margin-left: 8vw;
}

.label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 275px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dfdfe0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #7d7c84;
}

textarea {
  height: 112px;
  font-size: 14px;
}

button[type="submit"] {
  width: 305px;
  height: 44px;
  border: none;
  background: #1a2236;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

button[type="submit"]:hover {
  background-color: #154c7d;
}

/* Get resume - final section */

.get-resume {
  width: 100vw;
  height: 137px;
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv {
  width: 288px;
  height: 50px;
  border: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.cv-link {
  display: flex;
  align-items: center;
  color: #92dcdc;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.external-link {
  margin-left: 10px;
  width: 22px;
  height: 22px;
}

.social-media {
  width: 375px;
}

.social-media ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.element {
  font-size: 23px;
  color: #fff;
  flex-basis: calc(100% / 6);
  text-align: center;
  cursor: pointer;
}

/* ------------------------------------------ */

@media screen and (min-width: 800px) and (max-width: 1180px) {
  .first-section {
    height: 43vh;
    min-height: 430px;
    max-height: 450px;
    width: 100vw;
    background-position: center;
    background-position-x: 50vw;
    display: flex;
    align-items: center;
  }

  #projects {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #fff;
  }

  .project-title {
    grid-area: 1 / 1;
  }

  .all-projects {
    grid-area: 2 / 1;
    display: grid;
    grid-template-columns: 40vw 45vw;
    row-gap: 17px;
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .about-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-info h2 {
    align-self: center;
    margin-left: 0;
    padding: 0;
  }

  .boxes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0;

    /*   margin-top: 27px;
  margin-bottom: 27px; */
  }

  .boxes > div:nth-child(4) {
    background-image: url("./media/image_dots.png");
    background-size: 222.02px 222px;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  .get-started {
    width: 100vw;
    height: auto;
    max-height: 470px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .get-started h2 {
    margin-top: 0;
  }

  .get-resume {
    width: 100vw;
    height: 80px;
    background-color: #1a2236;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
